<h1>Add A Place</h1>
<form action = "/places" method="post">

  <label for ="new-name">Add the name of your the places you have been!</label>
  <input id ="new-name" name="new-name" type="text">

  <label for ="new-length">Add the length of stay of your trip!</label>
  <input id ="new-length" name="new-length" type="text">

  <label for ="new-image">Add an image of the place you have been (Image URL)</label>
  <input id ="new-image" name="new-image" type="text">

  <button type="submit">Submit</button>

</form>
