<h1>Places</h1>
  <h1>Location Search</h1>

    <p>@Model.cityName</p>
    <p>@Model.lengthStayed</p>
    <img src="@Model.imgURL" alt="user picture">




<a href="/places/new">Add a new location.</a>
<label for ="new-id">Location ID</label>
<input id ="new-id" name="new-id" type="number">
